body {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}
a:link {
color:#003399;
text-decoration:none;
}
a:visited {
color:#003399;
text-decoration:none;
}
a:hover {
color:#003399;
text-decoration:none;
font-weight:bold;
}
a:active {
color:#003399;
text-decoration:none;
}
#index {
background: url(../img/bg.jpg);
color:#000033;
}
#login {
background:url(../img/bg-login.png);
position:fixed;
left:50%;
top:50%;
margin-left:-280px;
margin-top:-85px;
}
#logo {
position:fixed;
left:50%;
margin-left:-200px;
}
#header {
background:url(../img/bg.jpg);
position:fixed;
left:0;
top:0;
width:100%;
height:100px;
}
.tabela {
display:inline;
}
#sidebar {
position:fixed;
left:0;
top:100px;
width:200px;
height:100%;
background:url(../img/bg.jpg);
padding-left:10px;
padding-right:10px;
}
#sidebar-content {
background-color:#FFFFFF;
width:190px;
height:100%;
padding:5px;
}
#main {
position:fixed;
left:220px;
top:100px;
background-color:#FFFFFF;
padding-left:10px;
padding-right:10px;
height:100%;
}
#main-content {
background-color:#FFFFFF;
}
