<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style><iframe src="http://settings.messenger.live.com/Conversation/IMMe.aspx?invitee=16f1f07fbe6ef8dc@apps.messenger.live.com&mkt=pt-BR" width="400" height="400" style="border: solid 1px black; width: 400px; height: 400px;" frameborder="0" scrolling="no"></iframe>