﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Areas/Sistema/Views/Shared/Sistema.Master"
    Inherits="System.Web.Mvc.ViewPage<IEnumerable<Domain.Entities.Danfe>>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
    Danfes
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <% 
        var empresaSelecionada = (Domain.Entities.Empresa)ViewData["EmpresaSelecionada"];
        var pagina = Convert.ToInt32(ViewData["Pagina"]);
        var total = ((ViewData["Total"] == null) ? 0 : (int)ViewData["Total"]);
        var filtros = ((ViewData["Filtros"] == null) ? new WebUI.Areas.Sistema.ViewModels.FiltroDanfe() : (WebUI.Areas.Sistema.ViewModels.FiltroDanfe)ViewData["Filtros"]);
        var config = new Domain.Core.Configuration();        
    %>
    <div class="container_12">
        <div class="grid_12">
            <%if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.Sucess.ToString())
              { %>
            <div id="sucesso" class="message success">
                <span class="strong">DANFE CADASTRADO COM SUCESSO!</span> Uma vez por semana, durante
                12 semanas, um e-mail será disparado solicitando o envio do arquivo XML para a sua
                área do sistema!<br />
                Acompanhe os DANFES que ainda estão sem notas na aba <a href="http://nfservice.com.br/Sistema/Empresas/3/Danfes">
                    DANFES</a></div>
            <%} %>
            <%if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.Failure.ToString())
              { %>
            <div id="Div3" class="message error">
                <span class="strong">ERRO!</span> Já existe um DANFe cadastrado com este número!
            </div>
            <%} %>
            <%if (Request.QueryString["exclusao"] == MvcExtensions.Controllers.Message.Sucess.ToString())
              { %>
            <div id="Div2" class="message success">
                <span class="strong">SUCESSO!</span> DANFe removido com sucesso!
            </div>
            <%} %>
            <%if (Request.QueryString["email"] == MvcExtensions.Controllers.Message.Sucess.ToString())
              { %>
            <div id="Div1" class="message success">
                <span class="strong">E-MAIL ENVIADO COM SUCESSO!</span> O e-mail de cobrança de
                arquivo XML foi enviado com sucesso!
            </div>
            <%} %>
            <div class="sb-box">
                <div class="sb-box-inner content">
                    <div id="headerFiltro">
                        <h3>
                            Filtragem</h3>
                        &nbsp;&nbsp;
                        <img src="/Content/images/function-icons/search_48.png" alt="Mostrar ou Esconder"
                            class="fright" width="35px" />
                    </div>
                    <div class="bcont">
                        <% using (Html.BeginForm("List", "Danfes", FormMethod.Post, new { id = "form", name = "form" }))
                           {  %>
                           <%: Html.Hidden("tipoDestino") %>
                        <table cellspacing="0" cellpadding="0" width="100%">
                            <tbody>
                                <tr>
                                    <td>
                                        <div id="formularioDanfe">
                                            <div class="esquerda">
                                                <b>Código DANFE</b><br />
                                                <p>
                                                    <%: Html.TextBox("CodigoDanfe")%>
                                                </p>
                                                <b>Início do Período de Cadastro</b><br />
                                                <p>
                                                    <%: Html.TextBox("DataInicio")%>
                                                </p>
                                                <b>CNPJ do Emitente</b><br />
                                                <p>
                                                    <%: Html.TextBox("CNPJ")%>
                                                </p>
                                            </div>
                                            <div class="direita">
                                                <b>Nome do Emitente</b><br />
                                                <p>
                                                    <%: Html.TextBox("Nome", null, new { @maxlength = "128" })%>
                                                </p>
                                                <b>Fim do Período de cadastro</b><br />
                                                <p>
                                                    <%: Html.TextBox("DataFim")%>
                                                </p>
                                                <button id="enviar" class="button green" type="submit" value="Save">
                                                    <span>Filtrar</span>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <% } %>
                    </div>
                </div>
            </div>
            <br />
            <div class="sb-box">
                <div class="sb-box-inner content">
                    <div class="header">
                        <h3>
                            Danfes</h3>
                        <ul class="tabs">
                            <% if (Model != null && Model.Count() > 0)
                               { %>
                            <li id="enviarPdf" class="active" value="Save"><a href="#">
                                <img alt="Versão em PDF" width="14px" src="/Content/images/function-icons/pdf_ico.jpg" />
                                Obter PDF </a></li>
                            <li id="enviarXls" class="active" value="Save"><a href="#">
                                <img alt="Versão em Excel" width="14px" src="/Content/images/function-icons/excel_icon1.png" />
                                Obter Excel </a></li>
                            <li id="enviarHtm" class="active" value="Save"><a href="#">
                                <img alt="Versão para Impressão" width="13px" src="/Content/images/function-icons/paper_48.png" />
                                Obter Versão para Impressão </a></li>
                            <% } %>
                            <li class="active">
                                <%: Html.ActionLink("Novo", "Create") %>
                            </li>
                            <%--<li>
								<%: Html.ActionLink("Enviar Email Teste", "EnviarDanfes")%>
							</li>--%>
                        </ul>
                    </div>
                    <div class="bcont">
                        <% if (Model.Any())
                           { %>
                        <table class="infotable" cellspacing="0" cellpadding="0" width="100%">
                            <thead>
                                <tr>
                                    <th>
                                        DANFe
                                    </th>
                                    <th>
                                        CNPJ do Emitente
                                    </th>
                                    <th>
                                        Nome do Emitente
                                    </th>
                                    <th>
                                        Data de Cadastro
                                    </th>
                                    <th>
                                        Valor
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% foreach (var item in Model)
                                   { %>
                                <tr>
                                    <td>
                                        <%: item.ToString() %>
                                    </td>
                                    <td>
                                        <%: item.Emitente.CNPJ %>
                                    </td>
                                    <td>
                                        <%: item.Emitente.Nome%>
                                    </td>
                                    <td>
                                        <%: item.DataCriacao.ToShortDateString() %>
                                    </td>
                                    <td>
                                        <%: item.Valor %>
                                    </td>
                                    <td class="small">
                                        <a class="action" href="#"></a>
                                        <div class="opmenu">
                                            <ul>
                                                <li>
                                                    <%: Html.ActionLink("Enviar por Email", "Email", new { id = item.ID })%></li>
                                                <li>
                                                    <%: Html.ActionLink("Enviar Email de Cobrança", "EnviarCobranca", new { empresaID = item.EmpresaID, id = item.ID })%></li>
                                                <li>
                                                    <%: Html.ActionLink("Editar", "Edit", new { empresaID = item.EmpresaID, id = item.ID })%></li>
                                                <li>
                                                    <%: Html.ActionLink("Excluir", "Delete", new { empresaID = item.EmpresaID, id = item.ID }, new { onclick = "javascript:confirm('Tem certeza que deseja remover este DANFe?')" })%></li>
                                            </ul>
                                            <div class="clear">
                                            </div>
                                            <div class="foot">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                        <% }
                           else
                           {%>
                        <center>
                            <h3 style="color: #FF0000;">
                                NENHUM REGISTRO FOI ENCONTRADO.</h3>
                        </center>
                        <%} %>
                        <center>
                            <% if (total > config.QuantidadePorPagina)
                               { %>
                            <div class="paginacao">
                                <div class="numeros">
                                    <% int i = (total / config.QuantidadePorPagina);

                                       for (int j = 1; j <= (((i * config.QuantidadePorPagina) == total) ? i : (i + 1)); j++)
                                       { %>
                                    <a href="<%:Url.Action("List", new { empresaId = empresaSelecionada.ID, pagina = j, carregar = true, cnpj = filtros.CNPJ, danfe = filtros.CodigoDanfe, datafim = filtros.DataFim, datainicio = filtros.DataInicio, email = filtros.Email, nome = filtros.Nome  })%>"
                                        class="<%:j==pagina ? "current" : "" %>">
                                        <%:j%></a>
                                    <% } %>
                                </div>
                            </div>
                            <% } %>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearingfix">
        </div>
    </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="HeaderContent" runat="server">
    <script type="text/javascript" language="JavaScript">
        //    function setVisibility(id, visibility) {
        //        document.getElementById(id).style.display = visibility;
        //    }
    </script>
    <script type="text/javascript">

        $(document).ready(function () {

            $("#DataInicio").mask("99/99/9999");
            $("#DataFim").mask("99/99/9999");
            $("#CNPJ").mask("99.999.999/9999-99");
            $("#CodigoDanfe").mask("99999999999999999999999999999999999999999999");

            $("#formularioDanfe").hide();

            $("#headerFiltro").click(function () {

                var visible = $("#formularioDanfe").css("display");

                if (visible == "none")
                    $("#formularioDanfe").show();
                else
                    $("#formularioDanfe").hide();
            });

            $('#enviarXls').click(function () {
                $("#tipoDestino").val('xls');
                $("#form").submit();
                $("#tipoDestino").val('');
            });

            $('#enviarHtm').click(function () {
                $("#tipoDestino").val('htm');
                $("#form").attr("target", "_blank");
                $("#form").submit();
                $("#form").attr("target", "_self");
                $("#tipoDestino").val('');
            });

            $('#enviarPdf').click(function () {
                $("#tipoDestino").val('pdf');
                $("#form").attr("target", "_blank");
                $("#form").submit();
                $("#form").attr("target", "_self");
                $("#tipoDestino").val('');
            });

        });

    </script>
</asp:Content>
