﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/MasterSemBanner.Master  " Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server"> Armazenamento de NFe, (Notas Fiscais Eletrônicas, Arquivos xml), segurança Fiscal</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MetaTags" runat=server>
<meta name="description" content="Com um sistema fácil, seguro e eficiente, suas Notas Fiscais eletrônicas, (NFe, Arquivos xml) ficam armazenadas em nosso servidor com máximo de segurança com certificação ISO 27001" />
<meta name="keywords" content="NFe, Armazenamento, armazenagem, Nota Fiscal Eletronica, Nota Fiscal, Armazenar Notas, guardar notas, armazenamento nota fiscal, Segurança, nota, fiscal, documentos eletrônicos, Danfe, CTe, Multas, Fiscalização, ICMS, emissão NF-e, Emissor Nota Fiscal Eletrônica, Emissor NFe" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

<div class="wrapper">
    <h2>S<span>egurança Fiscal</span></h2>
    <p>
<%--        Mais confiabilidade e segurança para todos os seus documentos fiscais eletrônicos. Soluções para a gestão de todo o ciclo de vida dos documentos eletrônicos com flexibilidade e ampla capacidade de gerenciamento dos processos de negócios. Centralização do acesso e das operações envolvendo documentos fiscais eletrônicos, oferecendo maior produtividade e facilidade de uso para os usuários, gerando eficiência e redução de custos para as empresas. <br /><br />
        <h4>•</h4>	Sua empresa totalmente regularizada para qualquer tipo de fiscalização<br />
        <h4>•</h4>	Garantia da entrega de seus documentos aos destinatários<br />
        <h4>•</h4>	Informações protegidas, disponíveis e compartilhadas em um ambiente certificado<br /><br />
        Confidencialidade, Integridade e disponibilidade
--%>

        Somos parceiros da empresa Netcetera e nossas aplicações são hospedadas em seu Data Center. Nossa parceria proporciona aos clientes do
        NFSERVICE segurança nas informações disponibilizadas em nosso aplicativo além de garantia de alta disponibilidade dos serviços. Nosso servidor 
        conta com recursos como entrada independente de energia, no-breaks de alta capacidade, geradores de energia, conexões com fibra ótica e elementos de 
        rede e conectividade redundantes. Ainda, controle de acesso físico ao Data Center através de biometria, sistemas IPS (Intrusion Prevention System), 
        firewalls redundantes na borda e núcleo da rede e soluções de backup ativo e passivo.<br /><br />
 
        Os dados são armazenados isoladamente para cada cliente, podendo gerenciá-lo através do Painel de Controle, incluindo criação de Snapshots e 
        Firewall pré-configurado customizável.<br /><br />
 
        Nosso Servidor NETCETERA tem Certificação ISO27001 – (Técnicas de segurança — Sistemas de gestão de segurança da informação). Esta Norma foi preparada para prover um modelo para estabelecer, implementar, operar, monitorar, analisar criticamente, manter e melhorar um Sistema de Gestão de Segurança da Informação (SGSI). A adoção do  SGSI foi  uma decisão estratégica para nossa empresa. A especificação e a implementação do SGSI de  nossa empresa são influenciadas pelas suas necessidades e objetivos, requisitos de segurança, processos empregados e tamanho e estrutura da empresa, proporcionando aos nossos clientes segurança em suas informações.
        <br /><br />
    </p>
    
        <img class="displayed" style="display: block; margin-left: auto; margin-right: auto" src="../../Content/images/ISO-27001-Certificate-ends-Jan-2012.jpg
        " alt="Iso" />
</div>
<div class="voltar">
	<a class="floatImage" href="<%: Url.Action("Index", "Home") %>"><img src="/Content/images/setaEsquerdaTransp.png" alt="Voltar à Home" /></a><br /><br />
	<%: Html.ActionLink("Voltar à Home", "Index", "Home", null, new { @class="float" }) %>
</div>

</asp:Content>
