﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/MasterSemBanner.Master"
    Inherits="System.Web.Mvc.ViewPage<WebUI.Model.FaleConoscoModel>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server"> Armazenamento de NFe, (Notas Fiscais Eletrônicas, Arquivos xml), fale conosco</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MetaTags" runat=server>
<meta name="description" content="Entre em contato agora mesmo, com a NFSERVICE e conheça nosso sistema de armazenamento e gerenciamento de Arquivos eletrônicos NF-e, (Arquivos xml)" />
<meta name="keywords" content="NFe, Armazenamento, armazenagem, Nota Fiscal Eletronica, Nota Fiscal, Armazenar Notas, guardar notas, armazenamento nota fiscal, Danfe, CTe, Contato, Telefone, Skype, Facebook, twitter. emissão NF-e, Emissor Nota Fiscal Eletrônica, Emissor NFe" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <% Html.EnableClientValidation(); %>
    <div class="wrapper">
            <div id="erro" class="message error" style="display: none">
            <span style="font-size: 20px;">ERRO!</span> Verifique todos os campos abaixo.
        </div>
        <%if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.Sucess.ToString()) { %>
        <div id="sucesso" class="message success">
            <span style="font-size: 20px;">SUCESSO!</span> E-mail enviado com sucesso!
        </div>
        <%} %>
        <h2>
            F<span>ale Conosco</span></h2>
        <% using (Html.BeginForm("Enviar", "FaleConosco", FormMethod.Post, new { id = "form", name = "form" })) {  %>
        <div class="formularioFaleConosco" style="width: 360px; float: left; margin: 0 75px;">
            <p> <strong>Nome</strong><br />
                <%: Html.TextBoxFor(m => m.Nome, new { id = "Nome", @class = "inputtext medium" })%>
            </p>
            <p>
                <strong>E-mail</strong><br />
                <%: Html.TextBoxFor(m => m.Email, new { id = "Email", @class = "inputtext medium" })%>
            </p>
            <p>
                <strong>Assunto</strong><br />
                <%: Html.TextBoxFor(m => m.Assunto, new { id = "Assunto", @class = "inputtext medium" })%>
            </p>
            <p>
                <strong>Mensagem</strong><br />
                <%: Html.TextAreaFor(m => m.Mensagem, new { id = "Mensagem", @class = "inputtext medium", @maxlength = "1024" })%>
            </p>
            <div>
                <div style="margin-top: 10px;" class="captcha">
                    <img id="image1" src=" <%=Url.Action("Image")%>" alt="click to refresh" />
                    <div class="hint">
                         <strong>Por favor preencha o que você vê (*)</strong> 
                    </div>
                </div>
                <%: Html.TextBoxFor(m => m.Captcha, new { id = "Captcha", @class = "inputtext medium", onkeydown="f(this)", onkeyup="f(this)", onblur="f(this)", onclick="f(this)", @maxlength = "4" })%>
            </div>
            <p>
                <input type="submit" value="Enviar" />
            </p>
        </div>
        <div class="box faleConosco">
            <h4>
                Contato Comercial</h4>
            <p>
                <h4>
                    Telefone:</h4>
                Ligue agora para (19) 3542-8677 e fale com um dos nossos vendedores.
                <br />
                Ou pelo e-mail vendas@nfservice.com.br, e solicite uma apresentação.
                <br />
                <br />
                <h4>
                    SKYPE:</h4>
                nfservice.gerenciamento.nfe
                <br />
                <br />
                Cadastre-se em nosso twitter ou facebook e receba informações diárias sobre alterações
                de leis fiscais, e atualizações dos sistema!<br />
                <a href="http://www.facebook.com/pages/NFSERVICE/134550983289298" target="_blank">
                    <img src="/Content/images/botao_facebook.png" alt="Facebook" /></a> <a href="http://www.twitter.com/nfservice"
                        target="_blank">
                        <img src="/Content/images/botao_twitter.png" alt="Twitter" /></a>
                <br />
                <br />
                <h4>
                    Suporte:</h4>
                Quando solicitado pelo departamento de suporte baixar e instalar o software crossloop
                em seguida entrar em contato com o departamento de suporte.
                <br />
                <a href="https://www.crossloop.com/download.htm" target="_blank">Clique aqui</a>
                para baixar.
            </p>
        </div>
        <% } %>
        <%--<div class="box">
    </div>--%>
    </div>
    <div class="voltar">
        <a class="floatImage" href="<%: Url.Action("Index", "Home") %>">
            <img src="/Content/images/setaEsquerdaTransp.png" alt="Voltar à Home" /></a><br />
        <br />
        <%: Html.ActionLink("Voltar à Home", "Index", "Home", null, new { @class="float" }) %>
    </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="Scripts" runat="server">
    <script type="text/javascript">
        //Esta função transforma, no evento keyup, o valor digitado em UpperCase

            function f(o) { o.value = o.value.toUpperCase().replace(/([^0-9A-Z])/g, ""); }

        $(document).ready(function () {
                $("#erro").hide();
            if ($("#Nome").val() != "")
            {
                $("#erro").show();
                $("#Captcha").val("");
            }
            $(".note.loading").hide();
            $("#form").validate({
                meta: "validate",
                invalidHandler: function (form, validator) {
                    $("#erro").show();
                    $("#erro").focus();
                    $("#sucesso").hide();
                },
                submitHandler: function (form) {
                    $("#erro").hide();
                    $("#cancelar").hide();
                    $("#sucesso").hide();
                    $("#enviar").hide();
                    $("#processando").show();
                    form.submit();
                },
                rules: {
                    Nome: "required",
                    Email: {
                        required: true,
                        email: true
                    },
                    Assunto: "required",
                    Mensagem: "required",
                    NomeNews: "required",
                    EmailNews: "required",
                    Captcha: "required"
                },
                messages: {
                    Nome: "Este campo é obrigatório.",
                    Email: {
                        required: "Este campo é obrigatório.",
                        email: "Formato de e-mail inválido"
                    },
                    Assunto: "Este campo é obrigatório.",
                    Mensagem: "Este campo é obrigatório.",
                    NomeNews: "Este campo é obrigatório.",
                    EmailNews: "Este campo é obrigatório.",
                    Captcha: "Este campo é obrigatório."
                }
            });
        });

    </script>
</asp:Content>
