﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/MasterSemBanner.Master  " Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server"> Armazenamento de NFe, (Notas Fiscais Eletrônicas, Arquivos xml), confira as vantagens</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MetaTags" runat=server>
<meta name="description" content="Com um sistema fácil, seguro e eficiente, o envio e armazenamento das suas Notas Fiscais eletrônicas, (NFe, Arquivos xml) proporciona maior agilidade e produtividade, oferecendo aos usuários muitas vantagens e evitando desperdício de tempo no seu dia a dia" />
<meta name="keywords" content="NFe, Nota Fiscal Eletronica, Nota Fiscal, Armazenar Notas, guardar notas, armazenamento nota fiscal, Danfe, CTe, Emails, Caixa de Emails lotadas, reenvio de e-mails, enviar, Contador, spam, lixeira, integração ERP, redução custos, organização, emissão NF-e, Emissor Nota Fiscal Eletrônica, Emissor NFe" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

<div class="wrapper">
	<h2>V<span>antagens</span></h2>
    <p> 
        Você está recebendo os arquivos eletrônicos e armazenando de todas as compras que está efetuando?
    <br /><br />
        Caso não, quanto custa colocar um funcionário para ficar ligando e cobrando os fornecedores para enviarem o arquivo eletrônico?
    <br /><br />
        Com a NFSERVICE, você está livre de tudo isso, a NFSERVICE cobra todos os fornecedores para enviarem os arquivos eletrônicos que estão faltando.
    </p>
    <p>Muitas empresas usam hoje o e-mail para disponibilizar o arquivo, mas com o e-mail surgem alguns problemas: </p><br />
    <h4>1.</h4>E-mails incorretos; <br />
    <h4>2.</h4>Caixas de e-mail lotadas; <br />
    <h4>3.</h4>Cliente pedindo o reenvio dos arquivos o que requer tempo para localizar e reenviar. <br />
    <h4>4.</h4>E-mails na caixa spam, lixeira <br />
    <p>Com o NFSERVICE, os arquivos ficam disponíveis para download pelos clientes (destinatários da NF-e) bastando apenas o mesmo realizar o cadastro no site NFSERVICE para poder visualizar e baixar todos os arquivos XML de NF-e armazenados para ele. 
    Veja a lista de vantagens ao fazer a contratação do NFSERVICE </p>

    <h2>B<span>enefícios para sua empresa</span></h2>
    <h4>•</h4>	Armazena tanto as notas emitidas quanto as recebidas;<br />
    <h4>•</h4>	Armazena conhecimento de transportes eletrônicos CT-e;<br />
    <h4>•</h4>	Cobra os fornecedores que ainda não enviaram o arquivo XML;<br />
    <h4>•</h4>	Redução do custo de armazenamento;<br />
    <h4>•</h4>	Fácil acesso aos arquivos, a qualquer momento, através do site;<br />
    <h4>•</h4>	Sua empresa legaliza-se perante o fisco;<br />
    <h4>•</h4>	Armazenamento dos arquivos durante o período exigido pela legislação;<br />
    <h4>•</h4>	Baixo custo;<br />
    <h4>•</h4>	Integração com qualquer software emissor de NF-e;<br />
    <h4>•</h4>	Backup de todas as notas emitidas/recebidas por sua empresa;<br />
    <h4>•</h4>	Dispensa qualquer instalação local e gasto extra com servidores;<br />
    <h4>•</h4>	Pronto Atendimento e Suporte Técnico de Qualidade<br />
    <h4>•</h4>	Excelente custo x benefício com Instalação imediata!<br />
    <h4>•</h4>	Redução de custos, tempo e o fim da digitação das Notas Fiscais Eletrônicas<br />
    <h4>•</h4>	Organização do recebimento das NFe de acordo com a legislação<br />
    <h4>•</h4>	Agilidade no processo de escrita fiscal e contábil<br />

    <h2>B<span>enefícios para o seu contador</span></h2>
    <h4>•</h4>	Acessa os XMLs emitidos e recebidos de forma on-line;<br />
    <h4>•</h4>	Conectado on-line com todos os seus clientes que emitem NFe, CTe, NFSe

    <h2>B<span>enefícios para os Receptores</span></h2>
    <h4>•</h4>	Eliminação de digitação de notas fiscais na recepção de mercadorias;<br />
    <h4>•</h4>	Planejamento de logística possibilitada pela recepção antecipada da informação da NF-e CTe, NFSe;<br />
    <h4>•</h4>	Redução de erros de escrituração devido a erros de digitação de notas fiscais;<br />
    <h4>•</h4>	Tem a sua disposição online todas as NFe,CTe, NFSe  organizadas prontas para dowloads


</div>
<div class="voltar">
	<a class="floatImage" href="<%: Url.Action("Index", "Home") %>"><img src="/Content/images/setaEsquerdaTransp.png" alt="Voltar à Home" /></a><br /><br />
	<%: Html.ActionLink("Voltar à Home", "Index", "Home", null, new { @class="float" }) %>
</div>

</asp:Content>
