body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	/*background-image:url("images/fundo.jpg");*/
	background-position:top;
	background-repeat:no-repeat;
	/*background-color:#86a6df;*/
}
td img {
/* Another Mozilla/Netscape bug with making sure our images display correctly */
	display: block;
}



	a { /* comportamento do link */
		text-decoration:none;
		color:#666666; 
		font-family: Arial, Helvetica, sans-serif; 
		font-size: 10px;
	}
	a:hover, #notprin:hover, #notdest a:hover, #notoutr a:hover, #clientes a, #clientes a:hover, h1 a, h1 a:hover, h2 a, h2 a:hover, h4 a:hover { /* comportamento do link ao passar do mouse por cima */
		text-decoration:underline;
		color:#000000; 
		font-family: Arial, Helvetica, sans-serif; 
		font-size: 10px;
	}
	a, a:visited, #notprin a:visited, #notdest a:visited, #notoutr a:visited, #clientes a:visited, h1 a:visited, h2 a:visited, h4 a:visited  { /* comportamento do link visitado */
		text-decoration:none; 
		color:#666666; 
		font-family: Arial, Helvetica, sans-serif; 
		font-size: 10px;
	}

	a.b { /* comportamento do link */
		text-decoration:none;
		color:#7d7c7b; 
		font-family: Arial, Helvetica, sans-serif; 
		font-size: 14px;
		font-weight:bold;
	}
	a.b:hover, #notprin:hover, #notdest a:hover, #notoutr a:hover, #clientes a, #clientes a:hover, h1 a, h1 a:hover, h2 a, h2 a:hover, h4 a:hover { /* comportamento do link ao passar do mouse por cima */
		text-decoration:none;
		color:#000000; 
		font-family: Arial, Helvetica, sans-serif; 
		font-size: 14px;
		font-weight:bold;
	}
	a.b, a.b:visited, #notprin a:visited, #notdest a:visited, #notoutr a:visited, #clientes a:visited, h1 a:visited, h2 a:visited, h4 a:visited  { /* comportamento do link visitado */
		text-decoration:none; 
		color:#7d7c7b; 
		font-family: Arial, Helvetica, sans-serif; 
		font-size: 14px;
		font-weight:bold;
	}

a.c{ /* comportamento do link */
		text-decoration:underline;
		color:#666666; 
		font-family: Arial, Helvetica, sans-serif; 
		font-size: 10px;
		font-weight:bold;
	}
	a.c:hover, #notprin:hover, #notdest a:hover, #notoutr a:hover, #clientes a, #clientes a:hover, h1 a, h1 a:hover, h2 a, h2 a:hover, h4 a:hover { /* comportamento do link ao passar do mouse por cima */
		text-decoration:underline;
		color:#000000; 
		font-family: Arial, Helvetica, sans-serif; 
		font-size: 10px;
		font-weight:bold;
	}
	a.c, a.c:visited, #notprin a:visited, #notdest a:visited, #notoutr a:visited, #clientes a:visited, h1 a:visited, h2 a:visited, h4 a:visited  { /* comportamento do link visitado */
		text-decoration:underline; 
		color:#666666; 
		font-family: Arial, Helvetica, sans-serif; 
		font-size: 10px;
		font-weight:bold;
	}
	
a.d{ /* comportamento do link */
		text-decoration:underline;
		color:#666666; 
		font-family: Arial, Helvetica, sans-serif; 
		font-size: 14px;
		font-weight:bold;
	}
	a.d:hover, #notprin:hover, #notdest a:hover, #notoutr a:hover, #clientes a, #clientes a:hover, h1 a, h1 a:hover, h2 a, h2 a:hover, h4 a:hover { /* comportamento do link ao passar do mouse por cima */
		text-decoration:underline;
		color:#000000; 
		font-family: Arial, Helvetica, sans-serif; 
		font-size: 14px;
		font-weight:bold;
	}
	a.d, a.d:visited, #notprin a:visited, #notdest a:visited, #notoutr a:visited, #clientes a:visited, h1 a:visited, h2 a:visited, h4 a.d:visited  { /* comportamento do link visitado */
		text-decoration:underline; 
		color:#666666; 
		font-family: Arial, Helvetica, sans-serif; 
		font-size: 14px;
		font-weight:bold;
	}
		
.style5 {font-family: Arial, Helvetica, sans-serif;  font-weight: bold; font-size: 14px; color: #FFFFFF; }
.style5A {font-family: Arial, Helvetica, sans-serif;  font-weight: normal; font-size: 12px; color: #FFFFFF; }
.style20 {font-family: Arial, Helvetica, sans-serif;  font-size: 10px; color: #FFFFFF; }
.style20A {font-family: Arial, Helvetica, sans-serif;  font-size: 10px; color: #666666; }
.style21 {font-family: Arial, Helvetica, sans-serif;  font-size: 12px; color: #000000; text-decoration:none;font-weight:normal}
.style21A {font-family: Arial, Helvetica, sans-serif;  font-size: 16px; color: #000000; text-decoration:none;font-weight: bold;}
.style21B {font-family: Arial, Helvetica, sans-serif;  font-size: 18px; color: #000000; text-decoration:none;font-weight: normal;}
.style18 {

	color: #ffffff;

	font-family: Arial, Helvetica, sans-serif; 

	font-weight: bold;
	font-size:18;

}
.style18a {

	color: #007DC9;

	font-family: Arial, Helvetica, sans-serif; 

	font-weight: bold;
	font-size:18;

}
.style6 {
	font-family: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; COLOR: #999999; 
}
.style16 {
	font-family: Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #c0c0c0
}
.style7 {
	font-family: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; COLOR: #999999
}
.style9 {
	font-family: Arial, Helvetica, sans-serif; COLOR: #0099ff
}
.style11 {
	font-family: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt
}
.style13 {
	font-family: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; COLOR: #000000
}
.style17 {
	font-family: Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; FONT-SIZE: 10pt;color:#7d7c7b;
}


.style22 {font-size: 10px;font-family: Arial, Helvetica, sans-serif; FONT-WEIGHT: normal; }
.style23 {font-size: 8px;font-family: Arial, Helvetica, sans-serif; FONT-WEIGHT: normal; }

	div#menu { /* formatacao do menu */
		float:left;
		width:150px;
		text-align:left;
	}
	/* retira o link pagina principal da index */
	div#menu.pp .pp {display:none;}
	
		div#menu .itemmenu { /* formatacao dos botoes do menu */
			font:11px Arial, Helvetica, sans-serif; 
		}
			.telefone { /* comportamento do link dentro do menu */
				color:#000000;
				text-decoration:none;
				width:163px;
				height: 20px;
				text-align:left;				
				}
			.itemmenu a, .itemmenu a:visited { /* comportamento do link dentro do menu */
				color:#000000;
				text-decoration:none;
				width:163px;
				height: 20px;
				display:block;
				
				
			}
			.itemmenu a:hover { /* comportamento do link dentro do menu ao passar do mouse */
				color:#000000;
				width:163px;
				height: 20px;
				background:#eff6fa ;
			}
.box_destaques {
	font-family: Arial, Helvetica, sans-serif; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10pt;
	DISPLAY: block;
	WIDTH: auto;
	COLOR: #999999;
	BORDER-BOTTOM: white 1px solid;
}
.bot11 { font-size: 11px; color: #000000; font-family: tahoma; text-decoration: none; border: 1px solid #7F7F7F; background: #F2F2F2; }
.bot12 { font-size: 12px; color: #000000; font-family: tahoma; text-decoration: none; border: 1px solid #7F7F7F; background: #F2F2F2; }
.bot13 { font-size: 13px; color: #000000; font-family: tahoma; text-decoration: none; border: 1px solid #7F7F7F; background: #F2F2F2; }

.button{
	background : #D7DFE9;
	border-style: solid solid solid double;
	border-color: #D7DFE9;
	border : 1px solid #386187;
	font-family : Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight : bolder;
	color: #004080;
	}
	
		TD.rempli { font-family : Arial, Helvetica, sans-serif;  background-color : #66CC99;}
	TD.memo { font-family : Arial, Helvetica, sans-serif;  background-color: #E8E8E8;}
	TD.cent { font-family : Arial, Helvetica, sans-serif;  background-color: #DDE3EB; text-align: center; font-size : 8pt; color: Black;}
	TD.right { font-family : Arial, Helvetica, sans-serif;  background-color: #DDE3EB; text-align: right; font-size : 8pt; color: Black;}
	TD.right2 { font-family : Arial, Helvetica, sans-serif;  text-align: right; font-size : 8pt; color: Black;}
	TD.headers { font-family : Arial, Helvetica, sans-serif;  background-color : #CFCFCF; BACKGROUND-IMAGE: url(../webmail/themes/beauvoir/header-bg.gif); text-align : center; font-size : 8pt; color:  #004080;  }
	TD.default { font-family : Arial, Helvetica, sans-serif;  background-color : #DDE3EB; font-size : 8pt;color : Black; }
	TD.default2 { font-family : Arial, Helvetica, sans-serif;  font-size : 8pt;color : Black; }
	TD.default9 { font-family : Arial, Helvetica, sans-serif;  background-color : #E8E8E8; font-size : 9pt;color : Black; }
	TD.title { font-family : Arial, Helvetica, sans-serif;  color: #191970; background-color : #B0C4DE; text-align : center; font-size : 8pt;}
	TD.headerright { font-family : Arial, Helvetica, sans-serif;  color: #004080; background-color : #E6ECF3; text-align : right;  font-size : 8pt; }
	TD.headerright2 { font-family : Arial, Helvetica, sans-serif;  color: #004080; background-color : #E6ECF3;  BACKGROUND-IMAGE: url(../webmail/themes/beauvoir/header-bg.gif); text-align : right;  font-size : 8pt; }
	select {BACKGROUND-COLOR: #F4F1D9;font-size : 12px;}
	combo {BACKGROUND-COLOR: #F4F1D9;font-size : 12px;}
	TextArea {BACKGROUND-COLOR: #F4F1D9;font-size : 12px;}
	
	.textbox {
		color : Black;
		background-color : #ececec;
		height : 19px;
		font-size : 10px;
		font-family : Arial, Helvetica, sans-serif; 
	}
	

	.ComboBox {
		color : Black;
		background-color : #ececec;
		font-size : 10px;
		font-family : Arial, Helvetica, sans-serif; 
	}
	
	.radio {
		color : Black;
		background-color : #ececec;
		font-size : 10px;
		font-family : Arial, Helvetica, sans-serif; 
	}		
	.formfield {
	
		border-width : 0 0 0 0;
		background-color : #ffffff;
		font-size : 12px;
		font-family : Arial, Helvetica, sans-serif; 
	}

.formfield2 {
	
		border-color : #cecece #cecece #cecece #cecece;
		border-width : 1px 1px 1px 1px;
		border-style:solid;
		color : Black; 
		background-color : #ececec;
		font-size : 12px;
		font-family:Verdana, arial, Helvetica;
	}
	.formfield3 {
	
		border-color : #cecece #cecece #cecece #cecece;
		border-width : 1px 1px 1px 1px;
		border-style:solid;
		color : Black; 
		background-color : #ffffff;
		font-size : 12px;
		font-family:Verdana, arial, Helvetica;
	}	
	
.risco_azul {
	border: 1px solid #010166;
}

.borda_tabela1 {border: 1px solid #cecece;}

.btfundocad {background-image:url(../imagens/btfundocad.gif);}
.btfundocad1 {background-image:url(../imagens/btfundocad1.gif);} 
.setasel {background-image:url(../imagens/setasel.gif)
