﻿table.toggle tr.highlighted {
    background-color: #F0F0F0;
}
table.toggle tr.highlighted span {
    background-color: transparent;
}
table.toggle tr.highlighted td.fixo-prod-serv-numero {
    background-color: transparent;
}
body {
    background-color: #FFFFFF;
}
label {
    background-color: White;
    color: #000000;
    display: block;
    font-family: Verdana,Arial,Helvetica;
    font-size: 10px;
    font-weight: bolder;
    padding-left: 6px;
}
label.new {
}
span.new {
    background-color: #FFFFCC;
}
span.multiline {
    background-color: #F0F0F0;
    background-position: center center;
    border-left: 1px solid #F0F0F0;
    border-top: 1px solid #F0F0F0;
    color: #000000;
    display: block;
    font-size: 10px;
    font-weight: normal;
    margin-left: 5px;
}
fieldset {
    background-color: #F9F9F9;
    margin: 10px 0 0;
}
tr.col-5 td {
    width: 20%;
}
tr.col-4 td {
    width: 25%;
}
tr.col-3 td {
    width: 33.333%;
}
tr.col-2 td {
    width: 50%;
}
td.fixo-nfe-cpf-cnpj {
    width: 150px;
}
td.fixo-nfe-iest {
    width: 120px;
}
td.fixo-nfe-uf {
    width: 50px;
}
td.fixo-entrega-cnpj {
    width: 35%;
}
td.fixo-entrega-uf {
    min-width: 45px;
    width: 7%;
}
td.fixo-prod-serv-numero {
    padding-left: 20px;
    width: 45px;
}
td.fixo-prod-serv-descricao {
}
td.fixo-prod-serv-qtd {
    width: 65px;
}
td.fixo-prod-serv-uc {
    width: 125px;
}
td.fixo-prod-serv-vb {
    width: 125px;
}
.toggle {
    background: url(/Content/images/ico_mais.gif) no-repeat scroll 8px 0 #F0F0F0;
    cursor: pointer;
}
.opened {
    background: url(/Content/images/ico_menos.gif) no-repeat scroll 8px 0 #F0F0F0;
    cursor: pointer;
}
td.spacer {
    background-color: Green;
    background-position: 10px 1px;
}
#nfe-container {
    text-align: left;
}
pre {
    font-size: 10px;
    padding: 0 15px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.botao-aba-nfe {
    background-color: #CCCCCC;
    border-radius: 4px 4px 0 0;
    font-family: Verdana,Arial,Helvetica;
    font-size: 12px;
    font-weight: bolder;
    margin: 5px 0 0;
    padding: 2px;
}
.botao-aba-nfe-selected {
    background-color: #FFFFFF;
}
td {
    vertical-align: top;
}
td.fixo-cpf-cnpj {
    width: 150px;
}
td.fixo-iest {
    width: 120px;
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 3px;
}
h5.toggle {
    background-position: 0 0;
    padding-left: 24px;
}
h5.opened {
    background-position: 0 0;
    padding-left: 24px;
}
table.toggle {
    background-color: Transparent;
    padding-left: 16px;
    text-indent: 0;
}
table.opened {
    background-color: Transparent;
}
td.toggle {
    background-color: Transparent;
}
legend {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #AAAAAA -moz-use-text-color;
    border-left: medium none;
    border-right: medium none;
    border-style: solid none;
    border-width: 1px medium;
    color: #333333;
    font-family: Verdana,Arial,Helvetica;
    font-size: 10px;
    font-weight: bolder;
    padding: 1px 10px;
    text-transform: uppercase;
    width: 98%;
}
legend.titulo-aba {
    background-color: #F0F0F0;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
    color: #EC1616;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 15px;
    text-align: left;
}
legend.titulo-aba-interna {
    background-color: #F0F0F0;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
    color: #EC1616;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 15px;
    text-align: left;
}
.titulo-grid-interna {
    background: none repeat scroll 0 0 #E7EFEF;
    border-bottom: 1px solid #AAAAAA;
    border-top: 1px solid #AAAAAA;
    color: #336699;
    display: block;
    font-size: 11px;
    text-align: left;
    text-transform: none;
}
legend.toggle {
    background-position: 6px 0;
    padding-left: 20px;
}
legend.opened {
    background-position: 6px 0;
    padding-left: 20px;
}
fieldset {
    border-color: -moz-use-text-color;
    border-style: none;
    border-width: medium;
}
fieldset {
    background-color: Transparent;
}
.boxed {
    background-color: #FAFAFA;
}
h5 {
    font-family: Verdana,Arial,Helvetica;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
h1 {
    color: #3A3A3A;
    font-family: Verdana,Arial,Helvetica;
    font-size: 20px;
    margin: 5px 0;
    padding: 5px 5px 5px 20px;
}
i.eng {
    font-size: 9px;
}
#print-header {
    display: block;
    height: 100px;
}
#print-header-logo {
    background: url("../Imagens/brasao_rs_small.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 96px;
    width: 96px;
}
#print-header-titulo {
    display: block;
    float: left;
    font-family: Verdana,Arial,Helvetica;
    font-size: 18px;
    padding-top: 40px;
}
#print-header-titulo-param {
    display: block;
    font-family: Verdana,Arial,Helvetica;
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
}
#print-nfe-info {
    font-family: Verdana,Arial,Helvetica;
    font-size: 11px;
}
#footer {
    font-family: Verdana,Arial,Helvetica;
    font-size: 11px;
}
div.tbl-aut-uso {
    background-color: #F0F5FB;
    border-radius: 5px 5px 5px 5px;
    padding: 2px;
}
div.tbl-aut-uso span.subtitle {
    background-color: #F0F5FB;
    font-size: 11px;
    font-weight: bolder;
}
div.tbl-aut-uso table {
    background-color: White;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 5px;
    padding-top: 5px;
}
div.tbl-aut-uso table td {
    font-family: Verdana,Arial,Helvetica;
    font-size: 11px;
}
div.tbl-aut-uso table td.itm {
    padding-left: 20px;
    width: 25%;
}
div.tbl-aut-uso table td.val {
    padding-left: 20px;
}
div.Formulario {
    left: 0;
    top: 0;
}
span#tipo-ambiente {
    background-color: #FFFFCC;
    border: 1px solid #888800;
    font-weight: bolder;
    height: 20px;
    margin-left: 5px;
    margin-top: 5px;
}
span#tipo-ambiente img {
    margin-top: 2px;
}
.popupCartaCorrecao {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 2px 2px 5px #BDBDBB;
    display: none;
    left: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 15px 15px;
    position: absolute;
    top: 400px;
    width: 70%;
    z-index: 999;
}

@import "common.css";
div.pnlDadosNFe {
    margin-left: 15%;
    min-width: 800px;
    padding-top: 80px;
    width: 70%;
}
div.pnlDadosResumoNFe {
    border: 1px solid #000000;
    padding: 10px;
}
.titulo-aba-interna, .titulo-aba, .TituloAreaRestrita, .TituloAreaRestrita2, .TituloAreaRestritacentro {
    background-color: #F0F0F0;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
    color: #EC1616;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 15px;
    text-align: left;
}
.TituloAreaRestritacentro {
    font-size: 12px;
    text-align: center;
}
.textoVerdana7, .textoVerdana7bold, .textoVerdana8, .textoVerdana8bold {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 7pt;
}
.textoVerdana8, .textoVerdana8bold {
    font-size: 8pt;
}
.textoVerdana7bold, .textoVerdana8bold {
    font-weight: bold;
}
.fixo-nfe-cpf-cnpj, .TextoFundoBrancoNegrito {
    color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
}
.botao_fechar {
    left: 960px;
    position: absolute;
    top: 12px;
}
.linhaCartaCorrecao, .linha {
    background-color: #EEEEEE;
    background-position: center center;
    border-left: 1px solid #F0F5FB;
    border-top: 1px solid #F0F5FB;
    color: #000000;
    display: block;
    font-size: 10px;
    font-weight: normal;
    margin-left: 5px;
}

#tabs { 
    display: inline-block; 
    min-height:400px;
    width: 99%;
}

