@import url('reset.css');
@import url('visualize.css');
@import url('grid.css');
@import url('flick/jquery-ui-1.8.2.custom.css');

/*---------------+
|     Layout     |
+---------------*/

html, body {height:100%;}
body {font:13.34px helvetica,arial,freesans,clean,sans-serif;min-height:100%;background-color:#f7f7f7;}
strong, .strong {font-weight:bold;}
a:link, a:active, a:visited {color:#6587eb;text-decoration:underline;}
a:hover {color:#535353;}
:focus { -moz-outline-style: none; }
button * {border: none !important;}
.checkbox-label-box, button::-moz-focus-outer, ::-moz-focus-inner {border: 1px solid transparent!important;}
menulist * {border: 0px solid transparent !important;}
.tbRelatorio{margin-left: 200px;}
table.tbRelatorio tr th{font-size: 15px;font-weight: bold;}
.BreadCrumb
{
    padding: 15px 0 0 20px;
}

b.titDestaqueBloqueio
{
    color: #c45757;
    font-size: 16px;
}

span.titConteudoBloqueio
{
    color:#191f5d;
    font-weight:bold;
}

div#divDesbloqueio
{
    border: 2px solid #9B9696;
    margin: 10px 0;
    padding: 15px;
}

.divRelatNotas
{    
    float: left;
    padding: 20px;
    text-align: left;
}


span.titFiltros
{       
    color: #3B6CCA;
    font-size: 25px;
    font-weight: bold;
    padding: 35px;
    text-decoration: underline;            
}

#page-body {background-color:#f7f7f7;overflow:hidden;min-height:100%;position:relative;}
#wrapper {width:996px;margin:0 auto;position:relative;}
.auth {width:445px;margin:0 auto !important;}

/*Headings*/
h1, h2, h3, h4, h5, h6 {font-family:Arial,Verdana,sans-serif;}
.content h1 {font-size:22px;font-weight:bold;line-height:44px;}
.content h2 {font-size:20px;line-height:40px;}
.content h3 {font-size:18px;line-height:36px;}
.content h4 {font-size: 16px;font-style: italic;line-height: 32px;}
.content h5 {font-size: 14px;font-style: italic;line-height: 28px;}
.content h6 {font-size: 12px;font-style: italic;line-height: 24px;}
.content ul, .content ol {font-size: 12px;line-height: 20px;}
.content .bcont ul {list-style:disc outside none;margin-left: 20px;margin-bottom: 15px;}
.content .bcont ul li {margin-bottom:5px;list-style:disc outside none;}
.content .bcont ol {margin-left: 20px;margin-bottom: 15px;list-style:decimal outside none;}
.content .bcont ol li {margin-bottom:5px;list-style:decimal outside none;}
p {font-size: 12px;line-height: 20px;padding-bottom:15px;}

/* footer */
#footer {background:url("../images/footer_bg.gif") 0 0 repeat-x;clear:both;color:#757575;font-size:12px;overflow:hidden;padding:10px 0 20px;text-align:center;}
#footer .right {text-align:right;}

/*---------------+
|     Header     |
+---------------*/

/* logo & adminbar */
#header {width:100%;height:80px;position:relative;}
#header #logo {position:absolute;top:5px;left:5px;}
#header #logo a {display:block;width:380px;height:82px;background:url("../images/logo.png") top left no-repeat;text-indent:-999em;}
#adminbar {margin:0 auto;width:467px;float:right;text-align:right;height: 30px;padding: 0 15px;line-height: 30px;background: transparent url("../images/bg-sb-title.png") repeat-x left top;border:1px solid #d4d4d4;border-top:none;text-shadow: 1px 1px 0px rgba(255,255,255,0.5);color: #444;font-size:12px;-webkit-border-bottom-right-radius: 7px;-webkit-border-bottom-left-radius: 7px;-moz-border-radius-bottomright: 7px;-moz-border-radius-bottomleft: 7px;border-bottom-right-radius: 7px;border-bottom-left-radius: 7px;}
#adminbar a {margin-left:5px;}
#adminbar img {vertical-align:middle;position:relative;top:-1px;}

/*--------------------+
|     Scroll menu     |
+--------------------*/

/* tabs */
#menu-tabs {width:100%;overflow:hidden;}
#menu-tabs ul {float:left;list-style:none;margin:0 0 0 10px;padding:0;text-align:center;}
#menu-tabs ul li {height:28px;float:left;line-height:28px;display:block;list-style:none;margin:0;padding:0;margin-right:1px;}
#menu-tabs ul li a {display:block;height:28px;line-height:28px;padding:0 30px;text-decoration:none;color:#5e5e5e;font-size:13px;outline:none;cursor:pointer;}
#menu-tabs ul li.active a, #menu-tabs ul li a:hover {-webkit-border-top-left-radius: 7px;-webkit-border-top-right-radius: 7px;-moz-border-radius-topleft: 7px;-moz-border-radius-topright: 7px;border-top-left-radius: 7px;border-top-right-radius: 7px;background-color:#2d2d2d;color:#fff;text-shadow:-1px -1px 0 #000;}
#menu-tabs ul li a:hover {background-image:none;text-shadow:none;background-color:#e5e5e5;color:#2f2f2f;}
#menu-tabs ul li.active a:hover {background-color:#2d2d2d;color:#fff;text-shadow:-1px -1px 0 #000;}
#menu-tabs.center {position:relative;}
#menu-tabs.center ul {clear:left;margin:0;position:relative;left:20%;}
#menu-tabs.center ul li {position:relative;right:0%;}
#menu-tabs.right ul {float:right;margin:0 10px 0 0;}

#content-scroll {width:100%;height: 95px;margin-bottom:7px;overflow: hidden;color:#888888;position: relative;}
#content-holder {width:100%;height: 75px;margin:0;position:absolute;}
.menu-items {height:70px;margin:5px 0 10px;}
.menu-items li {float:left;width:80px;list-style:none;margin:0 3px 0 0;display: inline;position: relative;}
.menu-items li a {display:block;text-align:center;text-decoration:none;color:#888888;font-size:11px;outline:none;cursor:pointer;}
.menu-items li a span {display:block;}
.menu-items li a:hover {color:#e9e9e9;}
.menu-items li .tooltip {display:none;}
.content-item {width:290px;height:78px;padding:5px;float:left;}

.scroll-menu {margin:0 auto;width:990px;}
.scroll-menu .smc-1, .scroll-menu .smc-2, .scroll-menu .smc-3 {background-image:url("../images/menu-bg.png");height:115px;}
.scroll-menu .smc-1 {background-position:100% -230px;background-repeat:no-repeat;padding-right:10px;}
.scroll-menu .smc-2 {background-position:0 0;background-repeat:no-repeat;padding-left:10px;}
.scroll-menu .smc-3 {background-position:0 -115px;background-repeat:repeat-x;padding:10px 0 0;height:105px;}

/* bubble */
.bubble {width:200px;position:absolute;z-index:10000;display:none;}
.bubble .bubble-t1, .bubble .bubble-t2, .bubble .bubble-t3, .bubble .bubble-b1, .bubble .bubble-b2, .bubble .bubble-b3 {background-image:url("../images/bubble_corners.png");background-repeat:no-repeat;background-position:0 0;background-color:transparent;}
.bubble .bubble-t1 {background-position:0 0;}
.bubble .bubble-t2 {background-position:100% -5px;padding: 0px 5px 0px 5px;}
.bubble .bubble-t3 {background-repeat:repeat-x;background-position:0 -10px;height: 5px;}
.bubble .bubble-1 {background: url("../images/bubble_edges.png") 0 0 repeat-y;}
.bubble .bubble-2 {padding: 0 5px;background: url("../images/bubble_edges.png") 100% 0 repeat-y;}
.bubble .bubble-3 {padding: 10px;background: #fff;overflow: hidden;}
.bubble .bubble-b1 {background-position:0 -15px;}
.bubble .bubble-b2 {padding: 0 5px 0 40px;background-position:100% -25px;}
.bubble .bubble-b3 {height: 10px;background-repeat:repeat-x;background-position:0 -35px;}

/* scrollbar */
.scrollbar {width:100%;height:15px;}
.scrollbar .sb-1, .scrollbar .sb-2, .scrollbar .sb-3 {background-image:url("../images/scroll-bg.png");height:15px;}
.scrollbar .sb-1 {background-position:100% -30px;background-repeat:no-repeat;padding-right:13px;}
.scrollbar .sb-2 {background-position:0 0;background-repeat:no-repeat;padding-left:13px;}
.scrollbar .sb-3 {background-position:0 -15px;background-repeat:repeat-x;position: relative;}
.scrollbar #scrollleft, .scrollbar #scrollright {width:13px;height:15px;position:absolute;text-indent:-999em;outline:none;}
.scrollbar #scrollleft {left:-13px;}
.scrollbar #scrollright {right:-13px;}
.scrollbar * {margin:0;padding:0;background:none;border:none;}
.scrollbar .ui-corner-all {-moz-border-radius:0px;-webkit-border-radius:0px;-khtml-border-radius:0px;border-radius:0px;}
.scrollbar .ui-slider-horizontal {height:11px;padding:2px 0;margin:0 2px;position:relative;}
.scrollbar .ui-slider-horizontal .ui-slider-handle {display:block;margin:0;padding:0 13px 0 0;top:2px;border:0;outline:0;}
.scrollbar .ui-slider-handle, .scrollbar .ui-slider-handle span, .scrollbar .ui-slider-handle span span {display:block;background-image:url("../images/scroll-bg.png");height:11px;}
.scrollbar .ui-slider-handle {background-position:100% -67px;background-repeat:no-repeat;padding-right:13px;position:absolute;cursor:pointer;}
.scrollbar .ui-slider-handle span {background-position:0 -45px;background-repeat:no-repeat;padding-left:13px;}
.scrollbar .ui-slider-handle span span {background-position:0 -56px;background-repeat:repeat-x;padding:0;}

/*---------------+
|    Content     |
+---------------*/

/* stats table */
table.graph {width:100%;}
table.graph td, table.graph th {text-align: center;border: 1px solid #ddd;padding:7px 14px;}
table.graph th {background-color:#f4f4f4;}
caption {margin: 0 0 .5em;font-weight: bold;}

/* block styles */
.sb-box, .sb-box-inner {border-radius: 7px;-moz-border-radius: 7px;-webkit-border-radius: 7px;}
.sb-box {margin: 0;border: 1px solid #e4e4e4;}
.sb-box-inner {/*position: relative;*/padding: 1px;background: #f8f8f8;border: 1px solid #fff;}
.sb-box-inner .header {height: 38px;margin: 1px -1px -1px;padding: 0 15px;line-height: 38px;background: transparent url("../images/bg-sb-title.png") repeat-x left top;}
.sb-box-inner .header h3 {font-weight: 600;text-shadow: 1px 1px 0px #fff;color: #444;float:left;}
.sb-box-inner .header ul {float:right;font-size:11px;margin:0;font-weight:bold;text-shadow:1px 1px 0 rgba(255,255,255,0.5);text-transform:uppercase;}
.sb-box-inner .header ul li {float:left;padding:0 0 0 10px;}
.sb-box-inner .header ul li a {display:block;padding:4px 10px;margin-top:5px;padding:3px 10px;text-decoration:none;outline:none;}
.sb-box-inner .header ul li.active a, .sb-box-inner .header ul li a:hover {color:#535353;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;background: rgb(246, 246, 246);background-color:rgba(255,255,255,0.5);}
.sb-box-inner .header ul li a:hover {color:#767676;background: rgb(242, 242, 242);background-color:rgba(255,255,255,0.2);}
.sb-box-inner .header ul li.active a:hover {background: rgb(246, 246, 246);background-color:rgba(255,255,255,0.5);}
.sb-box-inner .bcont {background-color:#fff;padding:14px;border-top:1px solid #f8f8f8;margin:1px 0 0;}
.sb-box-inner .nopadding {padding:0;}
.ui-state-highlight {height:60px;border:1px dashed #d5d5d5;margin:0 0 20px;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;background: rgb(242, 242, 242);background-color:rgba(255,255,255,0.2);}

/* table styles */
table.infotable {margin-bottom:15px;text-align:left;}
table.infotable  tr td, table.infotable tr th {border-bottom:1px solid #DDDDDD;line-height:normal;padding:5px 10px;text-align:left;}
table.infotable  tr td.small, table.infotable tr th.small {width:20px;text-align:center;}
table.infotable  tr td.small input[type="checkbox"], table.infotable tr th.small  input[type="checkbox"] {vertical-align:middle;}
table.infotable thead tr {background-color:#f5f5f5;}
table.infotable th {font-weight:bold;color: #305B7F;text-shadow: 1px 1px 0px rgba(255,255,255,1);}
table.infotable tbody tr.selected {background-color:#fdffea !important;}
.tableactions {float:left;}
.nopadding .tableactions {margin-left:10px;}
.tableactions select {height:22px;vertical-align:top;}
a.action {width:20px;height:20px;display:block;background:url("../images/action.png") 50% 50% no-repeat;outline:none;}
a.action:hover, a.action.active {width:18px;height:18px;background-color:#dbe3f2;border:1px solid #aeb6c2;}
.content .bcont .opmenu {position:absolute;z-index:1;width:120px;background: url("../images/opmenubg.png") top left no-repeat;display:none;}
.content .bcont .opmenu ul {display:block;padding:5px 5px 2px;margin:0 !important;list-style:none;}
.content .bcont .opmenu ul li {float:none;margin:0;padding:0;list-style:none;}
.content .bcont .opmenu ul li a {text-shadow:none;float:none;text-align:left;width:100px;margin:0;padding:5px 5px;background-image:none;display:block;border-bottom:1px solid #dedede;font:bold 11px tahoma;color: #333;text-decoration:none;outline:none;}
.content .bcont .opmenu ul li a:hover {color:#fff;background-color:#1785cd;padding-top:4px;border-top:1px solid #1068a1;border-bottom:1px solid #1068a1;}
.content .bcont .opmenu ul li:last-child a {border-bottom:0;}
.content .bcont .opmenu .foot {position:absolute;left:0;bottom:-3px;width:120px;height:3px;background: url("../images/opmenubg.png") bottom left no-repeat;}

/* pagination styles */
.pagination {font-size: 11px;font-weight: bold;padding-bottom: 15px;padding-top: 15px;border-top: 1px solid #eee;}
.pagination.floatright {float:right;text-align: right;padding-top:0;border: 0;overflow: hidden;}
.nopadding .pagination {margin-left:10px;}
.nopadding .pagination.floatright {margin-right:10px;}
.pagination a{background:url("../images/bg-sb-title.png") 0 0 repeat-x;border:1px solid #aeb6c2;display:inline-block;text-shadow:1px 1px 0 #fff;line-height:20px;padding:0 10px;color:#0089b6 !important;/*text-shadow:-1px -1px 0 rgba(0,0,0,0.3);*/border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;/*background:url(images/minibutton_matrix.png) 0 0 no-repeat;white-space:nowrap;border:none;*/outline:none;overflow:visible;cursor:pointer;text-decoration:none !important;margin-bottom:5px;}
.pagination a:hover, .pagination a.active {border:1px solid #979797;color:#5f5f5f !important;text-decoration:none;background-position:0 50%;}

/* forms */
select.select {width:310px;height:26px;color:#343434;margin:0 0 10px 0;font:bold 11px Tahoma,Helvetica,sans-serif;padding:5px 5px 5px 15px;}
select.select:focus, select.select:active {outline:none;}
select.select optgroup {padding: 5px 0;font-weight:bold;text-indent:15px;}
select.select option {padding: 5px 15px;font-weight:normal;}
select.select optgroup option {text-indent:10px;}
div.select {width:300px;display:block;height:30px;color:#343434;font:bold 11px Tahoma,Helvetica,sans-serif;text-shadow:#fff 1px 1px 0px;text-decoration:none;margin:0 0 10px 10px;padding-left:0px;background:url("../images/select.png") top right no-repeat;}
div.select  span {float:left;margin:0 10px 0 -10px;padding-left:20px;line-height:30px;position:relative;background:url("../images/select.png") top left no-repeat;}
.select-box {/*display: none;max-height:100px;*/position: relative; width: 278px; background: #fff; z-index:99999;}
.select-box .default {padding: 5px 7px; border: 1px solid #d9d9d9; border-width: 0 1px 1px;font-family:"Lucida Grande","Verdana"; font-size:11px;}
.select-box ul {display: none; margin:-10px 0 0 !important; padding: 0 !important; overflow: auto; position:absolute; z-index:9999;}
.select-box ul li {padding: 5px 20px;position:relative;z-index: 1000; cursor: pointer; margin: 0 !important; list-style-type: none !important; border: 1px solid #d9d9d9; border-width: 0 1px 1px; font: 11px "Lucida Grande", "Verdana"; background-color: #fff }
.select-box ul li.group {font-weight:bold;}
.select-box ul li.ingroup {padding-left:30px;}
.select-box ul li.auto-focus {background: #4173CC;color: #fff;}
.select-box ul li.selected {background: #d9d9d9 !important;color:#2e2e2e;}
input.inputtext {width:96%;display:inline-block;height:22px;padding:3px 5px;margin-bottom:10px;vertical-align: middle;border:1px solid #d9d9d9;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;background:url("../images/input-bg.png") top left repeat-x;}
input.inputtext:focus, .sb-box .bcont form textarea:focus {border:1px solid #acacac;}
input.inputtext.tiny {width:50px;}
input.inputtext.small {width:200px;}
input.inputtext.medium {width:298px;}
input.inputtext.big {width:400px;}
.sb-box .bcont label {display:inline-block;font-size: 12px;font-weight: bold;color: #555;margin:0 10px 0 0;vertical-align: middle;}
.sb-box .bcont form p {padding-bottom:15px;clear:both;}
.sb-box .bcont form p input.inputtext {margin-bottom:0;}
.sb-box .bcont form textarea {width: 98%;height: 140px;padding: 5px;margin:0;display:block;border:1px solid #d9d9d9;font-size: 14px;color: #333;background:url("../images/input-bg.png") top left repeat-x;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;outline: none;}
.sb-box .bcont form textarea.resizable {-moz-border-radius:3px 3px 0px 0px;-webkit-border-bottom-right-radius:0px;-webkit-border-bottom-left-radius:0px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;}
.sb-box .bcont form textarea.wysiwyg {width: 96%;}
.sb-box .bcont form input.radio, .sb-box .bcont form input.checkbox {vertical-align: middle;}
.sb-box .bcont form .note {padding-left: 10px;font-size: 11px;font-weight: bold;color: #757575;vertical-align: middle;}
.sb-box .bcont form .note.error {color: #e3302c;}
.sb-box .bcont form .note.loading {background:url('../images/ajax-loader.gif') 10px 50% no-repeat;padding-left:30px;display:inline-block;}
.sb-box .bcont form hr {height: 1px;border: 0;background: none;border-bottom: 1px solid #ddd;margin-bottom: 15px;}

/* message styles */
.message {-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding:6px 10px 10px 45px;position:relative;margin:0 0 15px 0;cursor:pointer;}
.message span {display:block;font-weight:bold;padding:0 0 4px;}
.message.success {color:#1c8400;border:#b4e8aa solid 1px;background:#e9f9e5 url("../images/onebit-icons/success.png") 10px 50% no-repeat;}
.message.warning {color:#828400;border:#e8e3aa solid 1px;background:#f9f9e5 url("../images/onebit-icons/warning.png") 10px 50% no-repeat;}
.message.error {color:#b50007;border:#e8aaad solid 1px;background:#f9e5e6 url("../images/onebit-icons/error.png") 10px 50% no-repeat;}
.message.information {color:#0055b5;border:#aac6e8 solid 1px;background:#e5ecf9 url("../images/onebit-icons/info.png") 10px 50% no-repeat;}
.message.tip {border:1px solid #fdd845;background:#fff6bf url("../images/onebit-icons/tip.png") 10px 50% no-repeat;}



/* buttons */
button.button, a.button {display:inline-block;height:32px;color:#343434;font:bold 12px Tahoma,Helvetica,sans-serif;cursor:pointer;position:relative;left:5px;text-shadow:1px 1px 0px rgba(255,255,255,0.5);text-decoration:none;margin:0 5px 0 8px;padding-left:0px;vertical-align:middle;background:url("../images/buttons.png") top right no-repeat;white-space:nowrap;border:none;overflow:visible;}
a.button {margin-left:6px;}
button.button  span, a.button span {float:left;margin:0 13px 0 -10px;padding-left:15px;line-height:32px;height:32px;position:relative;background:url("../images/buttons.png") top left no-repeat;overflow:visible;}
button.button:hover, a.button:hover {background-position:100% -216px;}
button.button:hover span, a.button:hover span {background-position:0 -216px;}
button.button.small, a.button.small {height:22px;font:bold 11px Arial,Helvetica,sans-serif;background-position:100% -128px;}
button.button.small span, a.button.small span {line-height:22px;height:22px;background-position:0 -128px;}
button.button.small:hover, a.button.small:hover {background-position:100% -344px;}
button.button.small:hover span, a.button.small:hover span {background-position:0 -344px;}
button.button.green, button.button.red, button.button.blue, a.button.green, a.button.red, a.button.blue {color:#fff;text-shadow:0 1px 0px rgba(0,0,0,0.5);background-position:100% -32px;}
button.button.green span, a.button.green span {background-position:0 -32px;}
button.button.green:hover, a.button.green:hover {background-position:100% -248px;}
button.button.green:hover span, a.button.green:hover span {background-position:0 -248px;}
button.button.green.small, a.button.green.small {background-position:100% -150px;}
button.button.green.small span, a.button.green.small span {background-position:0 -150px;}
button.button.green.small:hover, a.button.green.small:hover {background-position:100% -366px;}
button.button.green.small:hover span, a.button.green.small:hover span {background-position:0 -366px;}
button.button.red, a.button.red {background-position:100% -64px;}
button.button.red span, a.button.red span {background-position:0 -64px;}
button.button.red:hover, a.button.red:hover {background-position:100% -280px;}
button.button.red:hover span, a.button.red:hover span {background-position:0 -280px;}
button.button.red.small, a.button.red.small {background-position:100% -172px;}
button.button.red.small span, a.button.red.small span {background-position:0 -172px;}
button.button.red.small:hover, a.button.red.small:hover {background-position:100% -388px;}
button.button.red.small:hover span, a.button.red.small:hover span {background-position:0 -388px;}
button.button.blue, a.button.blue {background-position:100% -96px;}
button.button.blue span, a.button.blue span {background-position:0 -96px;}
button.button.blue:hover, a.button.blue:hover {background-position:100% -312px;}
button.button.blue:hover span, a.button.blue:hover span {background-position:0 -312px;}
button.button.blue.small, a.button.blue.small {background-position:100% -194px;}
button.button.blue.small span, a.button.blue.small span {background-position:0 -194px;}
button.button.blue.small:hover, a.button.blue.small:hover {background-position:100% -410px;}
button.button.blue.small:hover span, a.button.blue.small:hover span {background-position:0 -410px;}
button.button.left {left:10px;}

/* firefox hack */
@-moz-document url-prefix() {
	button::-moz-focus-outer, ::-moz-focus-inner {border:none !important;outline: none !important;}
	button.button {margin-left:4px;}
	button.button  span {margin:0 11px 0 -10px;}
}

/* Image list */
.content .bcont .thumbs {overflow: hidden;margin: 0;padding: 0;}
.content .bcont .thumbs ul {padding: 0;}
.content .bcont .thumbs li {padding: 0;margin: 0;background: 0;width: 100px;height: 100px;display: block;float: left;position: relative;margin: 13px 17px 10px 10px;border: 1px solid #ccc;padding: 1px;box-shadow: 0 0 3px #ccc;-moz-box-shadow: 0 0 3px #ccc;-webkit-box-shadow: 0 0 3px #ccc;}	
.content .bcont .thumbs li img {position: absolute;z-index: 1;width: 100px;height: 100px;}

/*----------------------+
|    Jquery WYSIWYG     |
+----------------------*/

div.wysiwyg {border:1px solid #d9d9d9;font-size: 14px;color: #333;background:url("../images/input-bg.png") top left repeat-x; padding: 5px; background-color: #ffffff; -moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
div.wysiwyg * {margin: 0;padding:0;}
div.wysiwyg ul.panel {border-bottom: 1px solid #cccccc; float: left; width: 100%; padding:0; margin:0 !important;}
div.wysiwyg ul.panel li {list-style-type: none; float: left; margin: 1px 2px 3px 0;  background: #ffffff;}
div.wysiwyg ul.panel li.separator {height: 16px; margin: 0 4px; border-left: 1px solid #cccccc; }
div.wysiwyg ul.panel li a {text-indent: -5000px; opacity: 0.85; filter:alpha(opacity=85); display: block; width: 15px; height: 15px; background: url('../images/jquery.wysiwyg.gif') no-repeat -64px -80px; border: 0; cursor: pointer; padding: 1px;}
div.wysiwyg ul.panel li a:hover, div.wysiwyg ul.panel li a.active {opacity: 1.00; filter:alpha(opacity=100);}
div.wysiwyg ul.panel li a.active {background-color: #f9f9f9; border: 1px solid #cccccc; border-left-color: #aaaaaa; border-top-color: #aaaaaa; padding: 0;}
div.wysiwyg ul.panel li a.bold {background-position: 0 -16px;}
div.wysiwyg ul.panel li a.italic {background-position: -16px -16px;}
div.wysiwyg ul.panel li a.strikeThrough {background-position: -32px -16px;}
div.wysiwyg ul.panel li a.underline {background-position: -48px -16px;}
div.wysiwyg ul.panel li a.justifyLeft {background-position: 0 0;}
div.wysiwyg ul.panel li a.justifyCenter {background-position: -16px 0;}
div.wysiwyg ul.panel li a.justifyRight {background-position: -32px 0;}
div.wysiwyg ul.panel li a.justifyFull {background-position: -48px 0;}
div.wysiwyg ul.panel li a.indent {background-position: -64px 0;}
div.wysiwyg ul.panel li a.outdent {background-position: -80px 0;}
div.wysiwyg ul.panel li a.subscript {background-position: -64px -16px;}
div.wysiwyg ul.panel li a.superscript {background-position: -80px -16px;}
div.wysiwyg ul.panel li a.undo {background-position: 0 -64px;}
div.wysiwyg ul.panel li a.redo {background-position: -16px -64px;}
div.wysiwyg ul.panel li a.insertOrderedList {height:14px;background-position: -32px -48px;}
div.wysiwyg ul.panel li a.insertUnorderedList {background-position: -16px -48px;}
div.wysiwyg ul.panel li a.insertHorizontalRule {background-position: 0 -48px;}
div.wysiwyg ul.panel li a.h1 {background-position: 0 -32px;}
div.wysiwyg ul.panel li a.h2 {background-position: -16px -32px;}
div.wysiwyg ul.panel li a.h3 {background-position: -32px -32px;}
div.wysiwyg ul.panel li a.h4 {background-position: -48px -32px;}
div.wysiwyg ul.panel li a.h5 {background-position: -64px -32px;}
div.wysiwyg ul.panel li a.h6 {background-position: -80px -32px;}
div.wysiwyg ul.panel li a.cut {background-position: -32px -64px;}
div.wysiwyg ul.panel li a.copy {background-position: -48px -64px;}
div.wysiwyg ul.panel li a.paste {background-position: -64px -64px;}
div.wysiwyg ul.panel li a.increaseFontSize {background-position: -16px -80px;}
div.wysiwyg ul.panel li a.decreaseFontSize {background-position: -32px -80px;}
div.wysiwyg ul.panel li a.createLink {background-position: -80px -48px;}
div.wysiwyg ul.panel li a.insertImage {background-position: -80px -80px;}
div.wysiwyg ul.panel li a.html { background-position: -47px -46px; }
div.wysiwyg ul.panel li a.removeFormat {background-position: -80px -63px;}
div.wysiwyg ul.panel li a.empty {background-position: -64px -80px;}
div.wysiwyg iframe { border: 0;  clear: left; margin: 4px 0 0 1px;}

.floatleft {float:left;}
.floatright {float:right;}

/* clearing & floating */
.clearingfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
* html .clearingfix {height:1%;}
*+html .clearingfix {width:100%;height:1px;}
.clearingfix {display: block;}




.formulario
{
    height:250px;
    width:800px;
}

#caixaFiltro
{
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

#formularioDanfe
{
    width:950px;
    height:240px;
}

#formularioUsuario
{
    height:305px;
    width:800px;
}

#formularioEmpresas
{
    height:245px;
    width:800px;
}

#formularioDetalhes
{
    width:800px;
}

.esquerda
{
    float:left;
    width:50%;
    height:50px;
    padding-bottom:10px;
}

.esquerda table td
{
    height:50px;
    width:100%;
}

.direita
{
    float:right;
    margin:auto;
    width:50%;
    padding-bottom:10px;
    height:50px;
}

.direita table td
{
    height:50px;
    width:100%;
}

p { padding-top: 18px; }

input 
{
    height:20px;
    width:320px;
}

#headerFiltro
{
    height: 38px;
    margin: 1px -1px -1px;
    padding: 0 15px;
    line-height: 38px;
    background: transparent url("../images/bg-sb-title.png") repeat-x left top;
    cursor:hand;
    cursor:pointer;
}

#headerFiltro h3
{
    font-weight: 600;
    text-shadow: 1px 1px 0px #fff;
    color: #444;
    float:left;
}

.fright
{
    float:right;
}

.files
{
    width:500px;
}

#page-body #wrapper .detalhes
{
    margin: 20px 10px;
    width:100%;
    height:300px;
}

.radio 
{
    margin-left:10px;
    width:10px !important;
}

.bcont .paginacao .numeros .current
{
    color: #FF0000;
    font-weight: bold;
    text-decoration: none;    
}
.field-validation-error{color:#AC0000 !important; display:inline; font-size:10px; font-weight:bold; margin-left:5px; margin-top:7px; min-height:4px; white-space:nowrap; }
.field-validation-ok{color:#00AC00 !important; display:inline; font-size:10px; font-weight:bold; margin-left:5px; margin-top:7px; min-height:4px; white-space:nowrap; }


