/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

/* Global properties ======================================================== */
body { 
	background: #fff; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px; 
	line-height: 18px;
	color: #61646a;
	min-width: 1000px;
}

div.message
{
    font-weight:bold;
}
#divComoChegou
{
    height:80px;
}

input.mini
{
    width:60px;
}

input.pequeno
{
    width:100px;
}
input.medio
{
    width:200px;
}
input.grande
{
    width:300px;
}
.Login
{
    width:200px;margin-right: 20px;height:20px;
}

.message {-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding:6px 10px 10px 45px;position:relative;margin:18px 0 -10px;cursor:pointer;}
.message span {display:block;font-weight:bold;padding:0 0 4px;}
.message.success {color:#1c8400 !important;border:#b4e8aa solid 1px;background:#e9f9e5 url("/Content/images/onebit-icons/success.png") 10px 50% no-repeat;}
.message.warning {color:#828400;border:#e8e3aa solid 1px;background:#f9f9e5 url("/Content/images/onebit-icons/warning.png") 10px 50% no-repeat;}
.message.error {color:#b50007;border:#e8aaad solid 1px;background:#f9e5e6 url("/Content/images/onebit-icons/error.png") 10px 50% no-repeat;}
.message.information {color:#0055b5;border:#aac6e8 solid 1px;background:#e5ecf9 url("/Content/images/onebit-icons/info.png") 10px 50% no-repeat;}
.message.tip {border:1px solid #fdd845;background:#fff6bf url("/Content/images/onebit-icons/tip.png") 10px 50% no-repeat;}


html, body { height: 100%;}

ul.listagem
{
    list-style: disc inside none;
    padding: 14px;
    font-size:13px;
}

input.inputtext.medium
{
    width:350px;
}

textarea.inputtext.medium
{
    width:350px;
    height:100px;
}

ul.listagem li
{
    padding:3px;
}

span.tit2
{   	
    font-family:Verdana;
    font-size: 14px;
    font-weight:bold;
	line-height: 1.2em;
	color: #29467d;
	padding: 20px 0px 7px 0px;
	margin: 0px 0px 0px 0px;
	text-transform: uppercase;
	letter-spacing: -1px;
}

label.error
{
    color: red;
    font-size: 12px;
}

div.box.faleConosco
{
    border: 1px solid #CCCCCC;
    float: left;
    padding: 20px;
    width: 280px;
    margin: 20px 0;
}

.formulario
{
    height:215px;
    width:800px;
}

.formularioFaleConosco
{
    width:800px;
    height:auto;
}



.esquerda
{
    float:left;
    margin-bottom:1px;
    width:50%;
    height:50px;
}

.direita
{
    float:right;
    margin:auto;
    width:50%;
    padding-bottom:1px;
    height:50px;
}

.plano
{
    border: 1px solid #61646A;
    height:120px;
    width:30%;
    margin:0 0 15px 15px;
    float:left;
}

.tituloPlano
{
    text-align:center;
    margin-top:10px;
}


p { padding-top: 18px; text-align:justify;}

p.descricao { padding-top: 5px; font-size: 14px;}

p.preco { font-size: 18px; margin-bottom:10px; padding-top:10px; font-weight:bold; text-align:center; }

p.boxes { text-align:center; padding:0; margin-top:10px;}

.top { padding-top: 1px; }
.top1 { padding-top: 0px; }
.top2 { padding-top: 18px; }
.top3 { padding-top: 21px; }
.top4 { padding-top: 34px; }
.top5 { padding-top: 0px; }

.bot { padding-bottom: 14px; }

.pad-right {padding-right: 35px;}

a {	color: #61646a; outline: none; }
a:hover{ text-decoration: none; }


.box1 {width:268px; float:left; margin:0 30px 30px 15px;}

.box1 .padding-box {padding:15px 36px 5px 37px; height:120px; width:194px;}

.box1 .tail-top {background:url("/Content/images/box1-tail-top.png") 0 0 repeat-x #f6f6f6;}
.box1 .tail-right {background:url(/Content/images/box1-tail.png) right 0 repeat-y;}
.box1 .tail-bot {background:url(/Content/images/box1-tail.png) 0 bottom repeat-x;}
.box1 .tail-left {background:url(/Content/images/box1-tail.png) 0 0 repeat-y;}
.box1 .corner-top-left {background:url(/Content/images/box1-corner-top-left.png) 0 0 no-repeat;}
.box1 .corner-top-right {background:url(/Content/images/box1-corner-top-right.png) right 0 no-repeat;}
.box1 .corner-bot-right {background:url(/Content/images/box1-corner-bot-right.png) right bottom no-repeat;}
.box1 .corner-bot-left {width:100%; background:url(/Content/images/box1-corner-bot-left.png) 0 bottom no-repeat;}

/* Global Structure ============================================================= */
.main {
	margin: 0 auto;
	width: 940px;
}

	/* Header */
	header{
		height: 162px;
		background: url(/Content/images/header-bg.gif) 0 0 repeat-x;
	}
	
	/* Content */
	section#content {
		background: url(/Content/images/content-bg.gif) 0 0 repeat-x #fff;
	}			
	/* Footer */
	footer{
		height: 121px;
		background: url(/Content/images/footer-bg.gif) 0 0 repeat-x #fbfbfb;
	}
/* Left & Right alignment */

.fleft { float: left;}
.fright { float: right;}
.clear { clear: both;}

.col-1, .col-2, .col-3, .col-4, .col-5 { float: left;}

.col-1 {width: 300px;}
.col-2 {width: 620px;}
.col-3 {width: 254px;}

.alignright { text-align: right;}
.aligncenter { text-align: center;}

.wrapper { 
	width: 100%;
	overflow: hidden;
}
.container {
	width: 100%;
}
/*----- form defaults -----*/
input, select, textarea { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	vertical-align: middle;
	font-weight: normal;
	color: #61646A;
}

/*----- other -----*/
.img-indent { margin: 0 24px 0 0; float: left; }
.img-indent1 { margin: 0 10px 0 0; float: left; }
.img {padding-top: 5px;}
.extra-wrap { overflow: hidden; }
.phone { display: inline-block;	width: 76px; }
.phone1 { display: inline-block;	width: 82px; }

/*=============================================================================== text =====*/
h1 {
	padding: 52px 0 0px 0px;
	position: relative;
	float: left;
}
	h1 a {
		display: block;
		height: 82px;
		width: 221px;
		text-indent: -5000px;
		background: url(/Content/images/logo2.png) left top no-repeat;
	}
h2
{
    font-family:Verdana;
    font-size: 29px;
	line-height: 1.2em;
	color: #29467d;
	padding: 20px 0px 7px 0px;
	margin: 0px 0px 0px 0px;
	text-transform: uppercase;
	letter-spacing: -1px;
}

    	h2 span {
		font-size: 21px;
		line-height: 1.2em;
		display: inline-block;
		padding-top: 8px;
	}
	
h3 {
	font-size: 18px;
	color: #29467d;
	text-transform: uppercase;
	letter-spacing: -1px;
	display: inline;
}

h4 {
	font-size: 14px;
	color: #29467d;
	padding-right: 10px;
	text-transform: uppercase;
	letter-spacing: -1px;
	display: inline;
}

    	h4 span {
		padding-left: 25px;
	}

h5 {
	font-size: 32px;
	line-height: 1.2em;
	color: #29467d;
	padding: 20px 0px 7px 0px;
	margin: 0px 0px 0px 0px;
	text-transform: uppercase;
	letter-spacing: -1px;
}
	h5 span {
		font-size: 22px;
		line-height: 1.2em;
		display: inline-block;
		padding-top: 8px;
	}    

/*=================================================================================================================== header =====*/
/*=============================================================================== menu =====*/
.menu {height: 44px;padding: 25px 1px 0 0; float: right;}
	.menu li {
		float: left;
		padding-left: 15px;
	}
		.menu li a {
			display: block;
			font-weight: bold;
			text-decoration: none;
			color: #a3a3a3;
		}
			.menu li a:hover {color: #2d9ede;}
/*=============================================================================== nav =====*/
header nav {
	float: right;
}
	header nav li {
		float: left;
		font-size: 19px;
		line-height: 1.2em;
		background:url(/Content/images/nav-li-bg.gif) right top no-repeat;
		padding-right: 1px;
	}
		header nav li a {
			display: block;
			margin: 0px 0px 0px 0px;
			background: url(/Content/images/nav-a-bg.gif) 0 0 repeat-x;
			width: 118px;
			text-align: center;
			color: #c4c4c4;
			text-decoration: none;
			text-transform: uppercase;
			padding: 32px 0 36px 0;
			letter-spacing: -1px;
		}
			header nav li a:hover {
				background: url(/Content/images/nav-a-hover.gif) 0 0 repeat-x;
				color: #37a6e6;
			}
			header nav .active, header nav .active:hover {
				background: url(/Content/images/nav-a-active.gif) 0 0 repeat-x;
				color: white;
				margin:0 -1px;
				width: 124px;
			}
/*=================================================================================================================== content =====*/

/*=============================================================================== indents =====*/
.indent { padding: 0px 0px 0px 0px }
/*=============================================================================== col-indents =====*/
.col-indent {padding-right: 20px;}
.col-indent1 {padding-right: 36px;}
/*=============================================================================== boxes =====*/
.box {
	border: 1px solid #f2f2f2;
	padding: 0 25px 37px 35px;
	background: url(/Content/images/box-bg.gif) 0 0 repeat-x #fcfcfc;
}
.box_1 {
	background: #f5f5f5;
	border: 1px solid #eeeeee;
	padding: 0 25px 37px 35px;
}
/*=============================================================================== line-hor =====*/

/*=============================================================================== lists =====*/
.list {
	margin: -3px 0;
}
	.list li {
		line-height: 24px;
		background: url(/Content/images/list-li-bg.gif) left bottom repeat-x;
	}
		.list li a {
			color: #3daceb;
			background: url(/Content/images/list-a-bg.gif) 1px 4px no-repeat;
			padding-left: 16px;
			text-decoration: none;
		}
			.list li a:hover {
				color: #2e4e8c;
				font-weight: bold;
				background: url(/Content/images/list-a-bg-hover.gif) 1px 4px no-repeat;
			}
	.list .last {background: none;}
.list_1 {
	margin: -9px 0 -9px;
}
	.list_1 li {
		line-height: 18px;
		background: url(/Content/images/list_1-li-bg.gif) left bottom repeat-x;
		width: 100%;
		overflow: hidden;
	}
		.list_1 li a {
			color: #2e4e8c;
			background: url(/Content/images/list_1-a-bg.gif) 1px 6px no-repeat;
			padding-left: 18px;
			text-decoration: none;
			font-weight: bold;
			margin-top: 7px;
			display: inline-block;
		}
			.list_1 li a:hover {
				text-decoration: underline;
			}
		.list_1 li p {padding: 0 0 11px 0;}
	.list_1 .last {background: none;}
	.list_1 .block {
		float: left;
		width: 256px;
	}

.date-list {
	margin-top: -1px;
}
	.date-list li {
		width: 100%;
		overflow: hidden;
		padding-bottom: 15px;
	}
		.date-list li span {
			display: block;
			width: 43px;
			height: 55px;
			background: url(/Content/images/date-list-span-bg.gif) 0 0 no-repeat;
			float: left;
			margin: 2px 10px 0 1px;
		}
		.date-list li span strong {
			font-size: 24px;
			line-height: 1.2em;
			color: #29457c;
			padding: 9px 0 2px 9px;
			display: block;
			letter-spacing: -1px;
		}
		.date-list li b {
			display: block;
			text-transform: uppercase;
			color: white;
			text-align: center;
			padding-left: 3px;
		}
		.date-list li a {
			font-weight: bold;
			color: #2e4e8c;
			text-decoration: none;
		}
			.date-list a:hover {
				text-decoration: underline;
			}
		.date-list li p {padding-top: 0; overflow: hidden;}
/*=============================================================================== links =====*/
.link {
	font-size: 14px;
	line-height: 1.2em;
	color: white;
	display: inline-block;
	height: 27px;
	text-decoration: none;
	background: url(/Content/images/link-bg.gif) 0 0 repeat-x;
	text-align: center;
	margin: 1px 0 0 1px;
	text-transform: uppercase;
	padding: 9px 9px 0;
}
	.link:hover {
		background: url(/Content/images/faded-text-a-bg.gif) 0 0 repeat-x;
	}
/*=============================================================================== nav =====*/

/*=============================================================================== nav =====*/

/*=============================================================================== nav =====*/

/*=================================================================================================================== footer =====*/

/*=============================================================================== nav =====*/
footer nav {
	float: left;
	padding-top: 35px;
}
	footer nav li {
		float: left;
		padding-right: 18px;
	}
		footer nav li a {
			color: #2e4e8c;
			font-weight: bold;
			text-transform: capitalize;
			text-decoration: none;
		}
			footer nav li a:hover {color: #61646a; text-decoration: underline;}
/*=============================================================================== p =====*/
footer p {
	float: right;
	padding: 35px 0 0 0;
}
	footer p a {
		text-decoration: none;
		color: #2e4e8c;
		padding-left: 9px;
	}
		footer p a:hover {text-decoration: underline;}

/*------------------------------------------------------------------------------------------------------------------- forms -----*/
#contacts-form {padding:4px 0 0 1px;}
#contacts-form fieldset {
	border: none;
}
	#contacts-form .column1 {
		float: left;
		width: 256px;
	}
	#contacts-form .column2 {
		float: left;
		width: 291px;
	}
	#contacts-form label {
		display: block;
		height: 44px;
		overflow: hidden;
		vertical-align: top;
	}
		#contacts-form input {
			width: 226px;
			padding: 5px;
			border: 1px solid #a4a4a4;
			line-height: 1.2307em;
			background: none;
			color: #8c8c8c;
		}
		#contacts-form textarea {
			width: 279px;
			padding: 5px;
			border: 1px solid #a4a4a4;
			background: none;
			color: #8c8c8c;
			height: 102px;
			overflow: auto;
		}
		#contacts-form .link {
			margin: 27px 0 0 17px;
		}

/*==========================================*/
    /*==========================================*/
#faded {
	position:relative; 
	overflow:hidden;
	width:940px; 
	height:397px;
	padding-top: 18px;
	margin-bottom: 17px;
}
	#faded img {
		float: left;
		width: 640px;
	}
	#faded .text {
		float: right;
		width: 245px;
		background: url(/Content/images/faded-text-bg.gif) 0 0 repeat-x;
		height: 367px;
		color: white;
		padding: 30px 20px 0 35px;
	}
		#faded .text strong {
			font-size: 26px;
			line-height: 1.2em;
			text-transform: uppercase;
		}
			#faded .text span {
				display: block;
				font-size: 18px;
				line-height: 1.2em;
				margin: -7px 0 -4px;
			}
		#faded .text a {
			display: block;
			width: 101px;
			height: 26px;
			background: url(/Content/images/faded-text-a-bg.gif) 0 0 repeat-x;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 1.2em;
			color: white;
			margin: 19px 0 0 1px;
			padding-top: 10px;
		}
			#faded .text a:hover {color: #2a4881;}
a { outline:0; border:0; }

	ul.pagination {
		list-style:none;
		padding:0;
		margin:0;
		z-index:10;
		position:absolute;
		font-size:0; 
		line-height:0;
		bottom:18px;
		right:91px;
		width: 114px;
	}
		ul.pagination li {
			float:left;
			padding:0 3px 0 0;
		}
			ul.pagination li a {
				display:block;
				width:35px;
				height:35px;
				background:url(/Content/images/faded-pagination-bg.png) left top no-repeat;
				color:#fff;
				font-size:0;
				text-align:center;
				line-height:0;
				text-decoration:none;
			}
			ul.pagination li.current a {
				background:url(/Content/images/faded-pagination-bg-active.png) left top no-repeat;
				color:#ffb520;
			}
/* Project specifics =========================================================== */
/* Pour some CSS below ========================================================= */

.field-validation-error{color:#AC0000 !important; display:inline; font-size:10px; font-weight:bold; margin-left:5px; margin-top:7px; min-height:4px; white-space:nowrap; }
.field-validation-ok{color:#00AC00 !important; display:inline; font-size:10px; font-weight:bold; margin-left:5px; margin-top:7px; min-height:4px; white-space:nowrap; }
